CODE START -->
    <div class="container">
       <div style="height:100px">
       </div>
       <div>
        <h1>Forms</h1>
        <h2>{{ title }}</h2>
        <div ng-switch="action" style="color:#395075">
        <div ng-switch-when="add">
          <h2>Showing Add Form for Model {{ model }}</h2>
          <div ng-switch="model">
            <div ng-switch-when="user">
                Username <input type="text" placeholder="enter username">
            </div>
            <div ng-switch-when="contact">
                Mobile <input type="text" placeholder="enter mobile">
            </div>
          </div>
        </div>
        <div ng-switch-when="edit">
          <h2>Showing Edit Form for Model {{ model }} for instanceId : {{ id }}</h2>
        </div>
        <div ng-switch-when="remove">
          <h2>Remove Instance of Model {{ model }} for instanceId : {{ id }}</h2>
        </div>
        <br><br>
      </div>

       <!--  <div>
          <input ng-model="greeting" type="text"><br>
          No filter: {{greeting}}<br>
          Reverse: {{greeting|reverse}}<br>
          Reverse + uppercase: {{greeting|reverse:true}}<br>
        </div> -->
        <!-- Exercise 5 <div>

          <p>Looping with objects:</p><br>
          Sort By:
          <select ng-model="sortBy">
           <option selected value="name">Name</option>
           <option value="location">Location</option>
          </select><br>
          Limit: <input ng-model="limit" value="0"><br>
          Search: <input ng-model="searchTxt"><br>
          <ul>
            <li ng-repeat="x in names | orderBy:sortBy | limitTo:limit | filter: searchTxt">
              {{ x.name + ', ' + x.location }}
            </li>
          </ul>
          <br><br>
          Price for Product 1 : {{ 372675 | currency: 'INR' : 1 }} <br><br>
          <span ng-non-bindable>{{1288323623006 | date:'medium'}}</span>:
              <span>{{1288323623006 | date:'medium'}}</span><br>
          <span ng-non-bindable>{{1288323623006 | date:'yyyy-MM-dd HH:mm:ss Z'}}</span>:
             <span>{{1288323623006 | date:'yyyy-MM-dd HH:mm:ss Z'}}</span><br>
          <span ng-non-bindable>{{1288323623006 | date:'MM/dd/yyyy @ h:mma'}}</span>:
             <span>{{'1288323623006' | date:'MM/dd/yyyy @ h:mma'}}</span><br>
          <span ng-non-bindable>{{1288323623006 | date:"MM/dd/yyyy 'at' h:mma"}}</span>:
             <span>{{'1288323623006' | date:"MM/dd/yyyy 'at' h:mma"}}</span>
        </div> -->
         <!--Exercise 4 <form name="form" class="css-form" novalidate>
          <div>
            Size (integer 0 - 10):
            <input type="number" ng-model="size" name="size"
                   min="0" max="10" integer />{{size}}<br />
            <div class="alert alert-danger" ng-show="form.size.$dirty && form.size.$invalid">
            <span ng-show="form.size.$error.integer">The value is not a valid integer!</span>
            <span ng-show="form.size.$error.min || form.size.$error.max">
              The value must be in range 0 to 10!</span>
            </div>
          </div>

          <div>
            Username:
            <input type="text" ng-model="name" name="name" username />{{name}}<br />
            <span ng-show="form.name.$pending.username">Checking if this name is available...</span>
            <span ng-show="form.name.$error.username">This username is already taken!</span>
          </div>

          </form> -->
        <!--Exercise 3 <div>
          <form name="form" class="css-form" novalidate>
            Username:
            <input type="text" ng-model="user.username" ng-model-options="{ updateOn: 'blur' }" name="uName" ng-minlength="10" ng-maxlength="15" required />
            <br />
            <div class="alert alert-danger" ng-show="(form.$submitted || form.uName.$touched) && form.uName.$invalid">
              <div ng-show="form.uName.$error.required">Enter a new username.</div>
              <div ng-show="form.uName.$error.minlength">Min length should be 10.</div>
              <div ng-show="form.uName.$error.maxlength">Max length should be 15.</div>
            </div>

            E-mail:
            <input type="email" ng-model="user.email" name="uEmail" required="" />
            <br />
            <div class="alert alert-danger" ng-show="(form.$submitted || form.uEmail.$touched) && form.uEmail.$invalid">
              <span ng-show="form.uEmail.$error.required">Tell us your email.</span>
              <span ng-show="form.uEmail.$error.email">This is not a valid email.</span>
            </div>
            <br>
            Age: <input type="number" min="18" max="25" name="age" ng-model="user.age">
            <div class="alert alert-danger" ng-show="(form.$submitted || form.age.$touched) && form.age.$invalid">
              <span ng-show="form.age.$error.number">Enter valid number.</span>
              <span ng-show="form.age.$error.min">Min age should be 18.</span>
              <span ng-show="form.age.$error.max">Max age should be 25.</span>
               <span ng-show="form.age.$error.pattern">Enter integer as age.</span>
            </div>
            <br>
            Gender:
            <input type="radio" ng-model="user.gender" value="male" />male
            <input type="radio" ng-model="user.gender" value="female" />female
            <br />
            <input type="checkbox" ng-model="user.agree" name="userAgree" required="" />

            I agree:
            <input ng-show="user.agree" type="text" ng-model="user.agreeSign" required="" />
            <br />
            <div ng-show="form.$submitted || form.userAgree.$touched">
              <div ng-show="!user.agree || !user.agreeSign">Please agree and sign.</div>
            </div>

            <input type="button" ng-click="reset(form)" value="Reset" />
            <input type="submit" ng-click="update(user)" value="Save" />
          </form>
        </div> -->
        <!-- Exercise 2 <div>
          <form novalidate class="css-form">
            Username: <input type="text" ng-model="user.name" required /><br />
            E-mail: <input type="email" ng-model="user.email" required /><br />
            Gender: <input type="radio" ng-model="user.gender" value="male" />male
            <input type="radio" ng-model="user.gender" value="female" />female<br />
            <input type="button" ng-click="reset()" value="Reset" />
            <input type="submit" ng-click="update(user)" value="Save" />
          </form>
        </div>

        <style type="text/css">
          .css-form input.ng-invalid.ng-touched {
            background-color: #FA787E;
          }

          .css-form input.ng-valid.ng-touched {
            background-color: #78FA89;
          }
        </style> -->
        <!--Exercise1 <form novalidate class="simple-form">
          Username: 
          <input type="text" ng-model="user.username" /><br />

          Email: 
          <input type="email" ng-model="user.email" /><br />

          Gender: 
          <input type="radio" ng-model="user.gender" value="male" />male
          <input type="radio" ng-model="user.gender" value="female" />female<br />

          Type: <br>
          <select ng-change="typeSele" ng-model="user.type">
            <option value="">Select One</option>
            <option value="Standard User">Standard User</option>
            <option value="Admin User">Admin User</option>
          </select>
          <br>

          Multiple Choice: 
          <input type="checkbox" ng-model="user.choice[0]"> Choice 1 &nbsp;&nbsp;&nbsp;
          <input type="checkbox" ng-model="user.choice[1]"> Choice 2
          
          <br><br>
          <input type="button" ng-click="reset()" value="Reset" />
          <input type="submit" ng-click="update(user)" value="Save" /> 
        </form> -->
        <pre>form = {{user | json}}</pre>
        <pre>master = {{master | json}}</pre>
      </div>
     
    </div> <!-- /container -->
<!--CODE END